* {
    padding: 0;
    margin: 0;
    /* font-size: 14px; */
    box-sizing: border-box;
}


body {
    background: rgba(238, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
}

.text-area {
    width: 100%;
    height: 200px;
    position: relative;
}

textarea{
    width: 100%;
    max-width: 700px;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 20px 0 0 20px;
    margin: 20px 0;
    font-size: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

input[type="color"] {
    border: none;
    outline: none;
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.Add {
    position: relative;
    bottom: -10px;
    right: 0px;
}

.notes {
    width: 100%;
    margin-top: 100px;
    height: 400px;
}

.box{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 10px;
    margin: 15px 0;
    position: relative;
    height: auto;
    animation: scale 0.4s;
}
@keyframes scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.box p{
    font-size: 17px;
    font-family: sans-serif;
}
.notes button{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}