* {
    padding: 0;
    margin: 0;
    /* font-size: 14px; */
    box-sizing: border-box;
}


body {
    background: rgba(238, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
}

.text-area {
    width: 100%;
    height: 200px;
    position: relative;
}

textarea{
    width: 100%;
    max-width: 700px;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 20px 0 0 20px;
    margin: 20px 0;
    font-size: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

input[type="color"] {
    border: none;
    outline: none;
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
